body{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0b1d2e;
    text-align: left;
    background-color: rgb(224, 248, 241);
}

h1{
    text-align: center;
    margin: 20px 0;
    padding-top: 40px;
    color: #194b7e;
}
.container {
    font-family: 'Dosis', sans-serif;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.weather-app {
    border: 1px solid #90aed5;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 750px;
    background-color: rgba(221, 240, 243, 0.38);
}
.weather-temperature{
    text-decoration: none;
}
.weather-temperature img{
    margin-right: 5px;
    float: left;
    height: 64px;
    width: 64px;
}

.weather-temperature strong{
    color: #6b24dd;
    font-size: 64px;
    line-height: 1; /*64px*/
    font-weight: 400;
}

.weather-temperature .units{
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active{
    color: #6b24dd;
    cursor: default;
}

.weather-temperature .active:hover{
    text-decoration: none;
}
.search-form {
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #314252;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type="search"] {
    outline-offset: -2px;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
}
h2 {
    color: #007bff;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
}
ul {
    margin: 0 0 10px;
    padding: 0;
}
li {
    color: #0044ff;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
}
li:first-letter{
    text-transform: capitalize;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.units {
    position: relative;
    top: -22px;
    color: #0044ff;
}
#temperature{
    font-size: 3rem;
    color: #6a00ff;
}
#visibility,
#humidity,
#wind{
    color: #6a00ff;
}

.card-forecast{
    border: #0044ff solid 1px;
    border-radius: 5px;
    opacity: 0.8;
    padding: 2px;
    background-color: rgba(215, 183, 246, 0.471);

}
.weather-forecast{
    margin-top: 20px;
    text-align: center;
}
.weather-forecast-date{
    font-size: 16px;
    color: #0044ff;
}
.weather-forecast-temperatures{
    font-size: 13px;
}
.weather-forecast-temperature-max{
    padding-right: 5px;
    color: #ff0101;
}
.weather-forecast-temperature-min{
    color: #0d03c4;
}

footer{
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
